.page-container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-width: 100vw;
    flex: 1;
    font-family: sans-serif;
}

.header {
    background-color: #17252A;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
    margin-top: 10px;
}

.chessboard-section {
    flex: 1;
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.video-section {
    width: 100vh;
    height: 50%;
    display: flex;
    background: #000;
    padding: 1rem;
    margin-right: 20px;
    border-radius: 8px;
}

.move-history {
    position: relative;
    width: 100vh;
    background: #DEF2F1;
    padding:  0 10px 10px 10px;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    grid-column: 2;
    grid-row: 2;
}

.move-history-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.move-pair {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.move-number {
    margin-right: 5px;
    color: #666;
}

.move-button {
    padding: 3px 6px;
    margin: 0 2px;
    border: 1px solid #ddd;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.move-button:hover {
    background: #eee;
}

.current-move {
    background: var(--primary-color);
    color: var(--white);
    font-weight: bold;
}