.page-container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-width: 100vw;
    flex: 1;
    font-family: sans-serif;
}

.header {
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Главная область: шахматы и видео */
.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

/* Левая часть — шахматная доска */
.chessboard-section {
    flex: 1;
    background-color: #eee;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Правая часть — видеосвязь */
.video-section {
    width: 35%;
    background-color: #91a1b3;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
