.page-container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-width: 100vw;
    flex: 1;
    font-family: sans-serif;
}

.header {
    background-color: #17252A;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
    margin-top: 10px;
}

.chessboard-section {
    flex: 1;
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.video-section {
    width: 35%;
    background-color: #91a1b3;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
